.mainSidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 16rem;
    height: 100vh;
    padding: 2rem 1rem;
}

.mainContent {
    margin-left: 16rem;
}

.queryButton {
    width: 6rem;
}

.metadata-list-item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.metadata-list-item:hover {
    color: blue;
}

.code {
    border: 2px outset antiquewhite;
}

.vis-tooltip {
    position: absolute;
    background-color: #f5f4ed;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #808074;
}

#color-picker .chrome-picker {
    border-radius: 0% !important;
    'display': 'none'
}